.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.navbar {
  display: flex;
  justify-content: center;
  background-color: #1fbba6ce; 
  padding: 1rem 0; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}


.nav-container {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #046ca3; 
  text-decoration: none;
  font-weight: bold; 
  
  
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #333; 
  text-decoration: none;
  padding: 0 20px; 
  font-size: 1rem; 
  font-weight: 500; 
}

.nav-link:hover, .navbar-brand:hover {
  opacity: 0.7; /* Opacity change on hover */
}

.active {
  border-bottom: 3px solid #d0021b; 
}



.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.sidebar {
  position: fixed;     
  top: 50%;            
  transform: translateY(-50%); 
  right: 0;            
  width: 250px;        
  height: 300px;       
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;    
  box-shadow: -5px 0 15px rgba(0,0,0,0.1); 
}
.sidebar h2 {
  color: rgba(51, 89, 108, 0.481); 
  margin-bottom: 10px;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #ccc;

}
.sidebar li:hover {
  background-color: #17badb;
  border-radius: 10%;
}


.content {
  margin-right: 300px; 
  padding: 20px;
  background-color: #fff; 
  text-align: justify; 
  text-justify: inter-word; 
  overflow: auto;
}
/* Styling for the content area */
.content h2 {
  color: #0e0501; 
  margin-bottom: 40px; 
  font-size: 24px; 
  text-align: center;
}


/*Content page*/


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  min-height: 100vh; 
}



/*Taxonomy*/

.container2{
  max-width: 1200px; 
  margin:auto;
  padding-top: 20px; 
  padding-bottom: 20px; 
}

.text-center {
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.table-responsive {
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  border-radius: 5px; 
  background: white; 
  padding: 0 20px; 
}

.table {
  width: 100%;
  margin-bottom: 1rem; 
  border-collapse: collapse; 
}

.table th,
.table td {
  padding: 12px; 
  vertical-align: top; 
  border: 1px solid #dee2e6; 
  text-align: center; 
}

.table thead th {
  background-color: #6e9d47;  
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #dee2e6; 
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5; 
}

@media (max-width: 768px) {
  .table-responsive {
    border: 0; 
  }
}





.sidebar2 {
  display: block;
}

.sidebar {
  
  display: block;
}

@media (max-width: 768px) {
  .sidebar2 {
   
    display: none;
  }
  .sidebar {
    
    display: none;
  }

  .content{
    margin-right: 0px;
  }
}

.footer-section {
  background-color: #282c34;
  padding: 3px;
  text-align: center;
  color: #d5c4c4;
  font-size: 16px;
  margin: 0;
}

.footer-section p {
  margin: 8px 0;
}

footer {
  margin-top: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}